################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/SimpleSoft.AspNetCore.FacebookGraphApi/v15/.suo
/obj
/api
/docfx_project
/log.txt
/.vs/config/applicationhost.config
/.vs/SimpleSoft.AspNetCore.FacebookGraphApi/v15/Server/sqlite3
/src/obj
/src/bin
